<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <app-game-control (gameStarted)="startGameLoop($event)">
          </app-game-control>
          <div class="panel panel-default">
              <div class="panel-heading">
                <p>Increment</p>
              </div>
              <div class="panel-body">
                <app-even *ngIf="number % 2 == 0">{{number}}</app-even>
                <app-odd *ngIf="number % 2 == 1">{{number}}</app-odd>
              </div>
            </div>
        </div>
      </div>
</div>
